/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }
*/

/* Default: Mobile First */

body {
    font-family: 'Source Sans 3', sans-serif;
    color: #000;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.3rem;
}

body>footer {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

@media (min-width: 992px) {
    body>footer .footer_container {
        margin-left: 22%;
    }

}

body>footer .footer_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    list-style-type: none;
    list-style-position: outside;
    padding-top: 70px;
}

@media (min-width: 992px) {
    body>footer .footer_links {
        flex-direction: row;
        justify-content: left;
        padding-top: 50px;
    }

    body>footer .footer_links a {
        font-size: 0.8em;
    }

    body>footer .footer_links li::marker {
        content: "·   ";
        font-size: 0.9em;
    }

    body>footer .footer_links li {
        margin-right: 30px;
    }

    body>footer .footer_links li:nth-child(1)::marker {
        content: "";
    }

}

body>footer .footer_socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

@media (min-width: 992px) {
    body>footer .footer_socials {
        text-align: left;
        justify-content: left;
    }

}

body>footer .footer_socials img {
    height: 30px;
}

body>footer .footer_credits {
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (min-width: 992px) {
    body>footer .footer_credits {
        display: inline-block;
    }

    body>footer .footer_credits {
        font-size: 0.7em;
    }

}

@media (min-width: 992px) {
    body>footer .footer_container {
        margin-left: 15%;
    }
}

body>footer p {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0;
}

h1 {
    /* Always the main header of the page */
    text-align: center;
    font-size: 3.8em;
    font-weight: 400;
    letter-spacing: -11px;
    margin-top: 0;

}

@media (min-width: 992px) {
    h1 {
        letter-spacing: -6px;
    }
}

h1 a {
    color: rgb(0, 0, 0);
}

@media (min-width: 992px) {
    h1 {
        text-align: left;
        margin-left: 15%;
        font-size: 3.5rem;
    }
}

h1 b {
    letter-spacing: 0px;
}

#sticky_nav {
    z-index: 1;
    position: sticky;
    top: 0;
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .05);
}

#sticky_nav nav {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-transform: uppercase;
    padding-top: 20px;
    margin-top: -50px;
    padding-bottom: 30px;
    background-color: rgb(255, 255, 255);
}

@media (min-width: 992px) {
    #sticky_nav nav {
        flex-direction: row;
        padding-left: 13.5%;
        font-size: 1rem;
    }
}

#sticky_nav nav a {
    margin: 5px;
    text-decoration: none;
    font-weight: 700;
    color: rgb(0, 0, 0);

}

@media (min-width: 992px) {
    #sticky_nav nav a {
        margin-left: 25px;
    }
}

#sticky_nav nav a.current_nav {
    color: rgb(222, 35, 51);
}

#sticky_nav nav a:hover {
    color: rgba(0, 0, 0, 0.5);
}

main.index header {
    display: flex;
    width: 100%;
    min-height: 400px;
    height: auto;
    background-color: #000;
    background-image: url('../img/bg-hero-home-m.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    max-width: 100%;
    margin-top: 0;
}

@media (min-width: 768px) {
    main.index header {
        background-image: url('../img/bg-hero-home.jpg');
    }
}

@media (min-width: 992px) {
    main.index header {
        min-height: 520px;
    }
}

main.index header h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 500;
    font-size: 2.3rem;
    margin: auto;
    max-width: 500px;
}

@media (min-width: 768px) {
    main.index header h2 {
        font-size: 3rem;
    }
}

@media (min-width: 992px) {
    main.index header h2 {
        font-size: 6rem;
        max-width: 1400px;
        line-height: 6rem;
    }
}

.main_container {
    margin-left: 20px;
    margin-right: 20px;
}

@media (min-width: 768px) {
    .main_container {
        margin-left: 35px;
        margin-right: 35px;
    }
}

@media (min-width: 992px) {
    .main_container {
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media (min-width: 992px) {
    .index .main_container {
        margin-left: 15%;
        margin-right: 15%;
        font-size: 1.15em;
    }
}

main.index h3 {
    text-align: center;
    font-size: 1.8em;
    margin-top: 1.3em;
    margin-bottom: 25px;
}

@media (min-width: 992px) {
    .intro_index {
        margin-top: -20px;
        margin-left: 14%;
        margin-right: 14%;
        margin-bottom: -20px;
        font-size: 1.27em;
    }
}

main.index .flex_index {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    gap: 45px;
    margin-left: 50px;
    margin-right: 50px;

}

@media (min-width: 768px) {
    main.index .flex_index {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

main.index .flex_index article {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

@media (min-width: 768px) {
    main.index .flex_index article {
        max-width: 200px;
        font-size: 0.8em;
    }

}

@media (min-width: 992px) {
    main.index .flex_index article {
        max-width: 100%;

    }
}

main.index .flex_index article img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

a.article_link {
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase;

}

a.article_link::before {
    content: ">\00A0\00A0";
    font-weight: 500;

}

main.index .flex_index article h4 {
    margin-top: 10px;
    margin-bottom: 1px;
    font-size: 1.35em;
    text-align: left;
    color: rgb(222, 35, 51);
}

main.grid_page h2 {
    font-size: 2.7rem;
    text-align: center;
}

@media (min-width: 768px) {
    main.grid_page h2 {
        font-size: 2rem;
    }

}

@media (min-width: 992px) {
    main.grid_page h2 {
        font-size: 2.5rem;
    }

}

.grid_container {
    margin-left: 20px;
    margin-right: 20px;
}

@media (min-width: 768px) {
    .grid_container {
        margin-left: 35px;
        margin-right: 35px;
    }
}

@media (min-width: 992px) {
    .grid_container {
        margin-left: 10%;
        padding-left: 0;
        padding-right: 0;
        margin-right: 10%;
    }
}

dl {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 500px));
    gap: 25px;
    margin-bottom: 55px;
}

@media (min-width: 768px) {
    dl {
        grid-template-columns: repeat(auto-fill, minmax(300px, 380px));
    }
}

@media (min-width: 992px) {
    dl {
        gap: 70px;
    }
}

.dl_item {
    background-color: rgb(244, 246, 247);
    padding: 40px;
    padding-right: 75px;
    padding-bottom: 10px;
}

@media (min-width: 768px) {
    .dl_item {
        padding: 30px;
        padding-right: 30px;
        padding-bottom: 10px;
    }
}

.dl_item .article_link {
    font-size: 0.7em;
}

dt {
    font-size: 1.7rem;
    font-weight: 700;
}

dd {
    margin: 0;
}

iframe {
    border: none;
    aspect-ratio: 16 / 9;
    height: auto;
    width: 100%;
    margin-bottom: 15px;
}

cite {
    font-weight: 700;
}

.cine_grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    gap: 25px;
    margin-bottom: 70px;
}

@media (min-width: 992px) {
    .cine_grid {
        grid-template-columns: 1fr 1fr;
        margin-left: 6%;
        margin-right: 6%;
        row-gap: 50px;

    }
}

.cine_grid figure {
    background-color: rgb(244, 246, 247);
    margin: 0;
}

.cine_grid figcaption {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

@media (min-width: 992px) {
    .cine_grid figcaption {
        font-size: 0.79em;
        margin-top: -5px;
    }
}

.breadcrumb {
    padding: 0 .5rem;
    margin-top: 60px;
}

.breadcrumb a {
    color: rgb(0, 0, 0);
}

.breadcrumb a:hover {
    color: rgba(0, 0, 0, 0.5);
}

.breadcrumb .current_nav {
    color: rgb(222, 35, 51);
}

.breadcrumb ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.breadcrumb li:not(:last-child)::after {
    display: inline-block;
    margin: 0 .5rem;
    content: ">";
}

main.news_page {
    margin-bottom: 80px;
}

main.news_page h2 {
    font-size: 2em;
    line-height: 1em;
}

main.news_page h3 {
    font-size: 1.4em;
    line-height: 1.2em;
    margin-bottom: 0.8em;
}

main.news_page h4 {
    font-size: 1.3em;
    line-height: 1.2em;
    margin-bottom: 0.8em;
}

@media (min-width: 768px) {
    main.news_page h4 {
        font-size: 1.1em;
    }
}

@media (min-width: 992px) {
    main.news_page .main_container {
        margin-left: 15%;
        margin-right: 15%;
    }
}

main.news_page .columns_container {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    gap: 45px;
}

@media (min-width: 992px) {
    main.news_page .columns_container {
        display: grid;
        justify-content: center;
        grid-template-columns: 2.7fr 1fr;
        gap: 45px;
        column-gap: 100px;
    }
}


ul.author {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    margin-bottom: 60px;
}

ul.author li:not(:last-child)::after {
    display: inline-block;
    margin: 0 1rem;
    content: "|";
}

main.news_page .columns_container>article img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    margin-top: 70px;
}

main.news_page .full_article {
    font-size: 0.9em;
    font-weight: 700;
    font-style: italic;
}

@media (min-width: 992px) {
    main.news_page .full_article {
        font-size: 0.75em;
    }
}

.despacho_sub {
    background-color: rgb(244, 246, 247);
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

main.news_page article .despacho_sub h2 {
    margin-top: 5px;
}

main.news_page article .despacho_sub img {
    margin-top: 0;
    border-radius: 20px;
    max-width: 100px;
}

@media (min-width: 768px) {
    main.news_page article .despacho_sub {
        display: grid;
        grid-template-columns: 100px 1fr;
        column-gap: 30px;
        padding: 20px;
    }
}

@media (min-width: 992px) {
    main.news_page article .despacho_sub {
        padding: 40px;
    }
}

.despacho_sub ul {
    margin: 0;
    padding: 0;
}

.despacho_sub ul li {
    list-style: none;
}

.despacho_sub ul li a::before {
    content: ">\00A0";
}

form .required {
    font-size: 0.8em;
}

form input {
    background-color: rgb(244, 246, 247);
    border: 0;
    padding: 10px;
}

form textarea {
    background-color: rgb(244, 246, 247);
    border: 0;
    height: 10rem;
    padding: 10px;
}

form .field input {
    height: 3.5rem;
    padding: 10px;
}

form .field {
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
}

form .field_checkbox {
    display: flex;
    flex-direction: row;
    margin-bottom: 35px;
}

form .field_checkbox input {
    margin-right: 5px;
}

form button {
    padding: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: rgb(222, 35, 51);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    border-width: 0;
    font-size: 1.1rem;

}

.recent_news {
    font-size: 0.7em;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 992px) {
    .recent_news {
        display: inline;
        max-width: 400px;
        margin-top: 0px;
        margin-top: 10%;
    }
}

.recent_news article {
    display: flex;
    flex-direction: row;
    border-bottom-style: dotted;
    border-bottom-width: 2px;
    border-bottom-color: rgba(0, 0, 0, 0.3);
}

.recent_news article img {
    max-width: 100px;
    max-height: 100px;
    clip-path: circle(50px);
    margin: 20px;
    aspect-ratio: 1/1;
}

.recent_news a {
    color: rgb(0, 0, 0);
}

.recent_news a:hover {
    color: rgba(0, 0, 0, 0.5);
}

main.news_page .recent_news h2 {
    font-size: 2.4rem;
    margin-left: 2%;

}

main.news_page .recent_news article h3 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.3em;
    margin-bottom: 3px;
}

main.news_page .recent_news article p {
    font-size: 1.2em;
    margin-top: 0;
}

@media (min-width: 768px) {
    main.news_page .recent_news h2 {
        margin-left: 5%;
    }

    main.news_page .recent_news article h3 {
        font-size: 1.2em;
        margin-bottom: 0px;
    }
}

@media (min-width: 992px) {
    .recent_news {
        font-size: 0.6em;
    }

    main.news_page .recent_news h2 {
        font-size: 2.3rem;
        margin-bottom: 25px;
    }

    .recent_news article img {
        max-width: 75px;
        max-height: 75px;
        clip-path: circle(37.5px);
        margin: 20px;
        aspect-ratio: 1/1;
    }

}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

i {
    font-style: normal;
}

dfn {
    font-style: normal;
}

a {
    text-decoration: none;
    color: rgb(222, 35, 51);
}

a:hover {
    text-decoration: solid;
    color: rgb(0, 0, 0);
}

a.newslink {
    text-decoration: none;
    color: rgb(222, 35, 51);
}

a.newslink {
    color: rgb(0, 0, 0);
}

footer a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

footer a:hover {
    color: rgb(222, 35, 51);
}

footer img:hover {
    opacity: 0.7;
}